.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 100px;
}

.field {
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 20px;
  height: 35px;
  resize: none;
  font-size: 19px;
}

@media (min-width: 700px) {
  .form {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    height: 35px;
    align-items: center;
  }
  .field {
    margin-bottom: 0;
  }
}
